body
    h1 Spell Checker Information
    div
        h2 File Information
        table
            tr
                td File Name:
                td #{filename}
            tr
                td Spell Checker enabled for Path:
                td #{fileEnabled ? 'Yes' : 'No'}
            tr
                td Spell Checker enabled for file type (#{languageId})
                td
                    = languageEnabled ? 'Yes' : 'No'
                    | &nbsp; | &nbsp;
                    a(href=linkEnableDisableLanguage)
                        = languageEnabled ? 'Disable' : 'Enable'
    div
        h2 Issues:
        if spellingErrors.length
            ul
                each val in spellingErrors.slice(0,10)
                    li= val
        else
            b None!
