doctype html
html
    head
        // script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        style(type='text/css').
            .logo {
                vertical-align: top;
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }
    body
        h1
            img.logo(src='file://'+ imagesPath +'/SpellCheck.png')
            | Spell Checker Information
        div
            h2 File Information
            table
                tr
                    td File Name:
                    td #{filename}
                tr
                    td Spell Checker enabled for Path:
                    td #{fileEnabled ? 'Yes' : 'No'}
                tr
                    td Spell Checker enabled for file type (#{languageId})
                    td
                        = languageEnabled ? 'Yes' : 'No'
                        | &nbsp; | &nbsp;
                        a(href=linkEnableDisableLanguage)
                            = languageEnabled ? 'Disable' : 'Enable'
        div
            h2 Issues:
            if spellingErrors
                if spellingErrors.length
                    ul
                        each val in spellingErrors.slice(0,200)
                            li= `${val[0]} (${val[1]})`
                else
                    b None!
            else
                b Analyzing...
        div#output
    //-
        script.
            (function () {
                function log(message) {
                    $("<div>")
                        .text(message)
                        .appendTo("#output");
                }
                $('form').submit(function(e){
                    e.preventDefault();
                    log('Hello');
                });
                $('#output').text('Go');
                $( "a" ).click(function( event ) {
                    event.preventDefault();
                    event.stopPropagation();
                    log('Stopped' + this.href);
                    $('#hidden_link')
                        .attr('href', this.href)
                        .text(this.href)
                        .click();
                });
                $('body').append('<a href="" id="hidden_link"></a>');
            }());
