div.mdl-cell.mdl-cell--12-col.mdl-grid
    h2
        img.logo(src='file://'+ imagesPath +'/SpellCheck.png')
        | Language
    table.mdl-data-table.mdl-cell--12-col
        tr
            th Language
            th.align-left Global
                br
                label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                    input(
                        class="mdl-switch__input"
                        type="checkbox"
                        data-link-enable= genOverrideLocal(true, true)
                        data-link-disable= genOverrideLocal(false, true)
                        onchange="triggerLocalChange(this)"
                        checked= local.user)
                    span.mdl-switch__label
            th.align-left Workspace
                br
                label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                    input(
                        class="mdl-switch__input"
                        type="checkbox"
                        data-link-enable= genOverrideLocal(true, false)
                        data-link-disable= genOverrideLocal(false, false)
                        onchange="triggerLocalChange(this)"
                        checked= local.workspace)
                    span.mdl-switch__label
            th.align-left Enabled
        each local in localInfo
            tr
                td
                    span.language= local.name
                    br
                    span.info= local.dictionaries.join(', ')
                td.mdl-data-table__cell--non-numeric
                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                        input(
                            class="mdl-switch__input"
                            type="checkbox"
                            data-link-enable= genSetLocal(local.code, true, true)
                            data-link-disable= genSetLocal(local.code, false, true)
                            onchange="triggerLocalChange(this)"
                            checked= local.isInUserSettings)
                        span.mdl-switch__label

                td.mdl-data-table__cell--non-numeric
                    if (local.isInWorkspaceSettings == undefined)
                        span.align-center -
                    else
                        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                            input(
                                class="mdl-switch__input"
                                type="checkbox"
                                data-link-enable= genSetLocal(local.code, true, false)
                                data-link-disable= genSetLocal(local.code, false, false)
                                onchange="triggerLocalChange(this)"
                                checked= local.isInWorkspaceSettings)
                            span.mdl-switch__label
                td.mdl-data-table__cell--non-numeric
                    if local.enabled
                        span.mdl-chip__contact.mdl-color--light-green.mdl-color-text--white ✔
                    else
                        span.mdl-chip__contact.mdl-color--grey.mdl-color-text--white ✘

